.containerHero{
  min-height: 42rem;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.backdrop{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 10px;
  right: 0;
  z-index: 1;
  background-color: #00000069;
}

.containerImage{
  position: absolute;
  height: 105%;
  width: 100%;
  top: -40px;
  overflow: hidden;
  z-index: -1;
}

.heroBody{
  width: 90%;
  padding-top: 7vh;
  position: relative;
  z-index: 3;
}

.heroTitle{
  color: white;
  margin-bottom: 1rem;
  font-family: var(--heading-font);
  font-size: clamp(2.6rem, 4.5vw, 3.5rem);
  line-height: 1.1;
}

.heroText{
  color: white;
  font-size: clamp(1rem, 3vw, 1.4rem);
  /* font-weight: bold; */
  max-width: 600px;
  margin: 0 auto 2rem;
}

@media screen and (max-width: 750px){
  .containerHero{
    padding-top: 2rem;
    justify-content: center;
  }

  .heroBody{
    margin-left: 0;
    text-align: center;
    max-width: 500px;
  }

  .heroText{
    color: white;
    font-size: 1.2rem;
    font-weight: unset;
    width: 300px;
    margin: 2rem auto;
  }
}
